body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

.main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div {
  width: 1000px;
  height: 500px;
  display: flex;
  padding: 0px 50px;
  justify-content: space-between;
}

h2 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 32px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.card-1 {
  background-color: hsl(31, 77%, 52%);
  padding: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 800px;
}

.card-2 {
  background-color: hsl(184, 100%, 22%);
  padding: 50px;
  width: 800px;
}

.card-3 {
  background-color: hsl(179, 100%, 13%);
  padding: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 800px;
}

button {
  background-color: hsl(0, 0%, 95%);
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  position: absolute;
  margin-top: 80px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
  color: white;
}

.sedan {
  color: hsl(31, 77%, 52%);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.suv {
  color: hsl(184, 100%, 22%);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.luxury {
  color: hsl(179, 100%, 13%);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

footer {
  font-size: 14px;
  font-family: "Lexend Deca", sans-serif;
  margin-left: 25px;
}

@media screen and (max-width: 767px) {
  .main-div {
      flex-direction: column; /* Stack cards on top of each other */
      align-items: center;
      padding-top: 100px;
      padding-bottom: 800px;/* Center cards horizontally */
  }

  .card-1,
  .card-2,
  .card-3 {
      width: 60%;
      height: auto;
      padding-bottom: 100px;
  }

  .card-1 {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .card-3 {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }

  button {
    margin-top: 0;
  }


}
